In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Set display options to required level
pd.options.display.max_rows = 1000
pd.set_option('max_colwidth', 100)

Changed the file format due to unicode UTF-8 using excel and save as utf-8 csv file. Or can use linux to do that.

In [3]:
df = pd.read_csv(r"C:\Users\chath\Documents\DS\Module12\DataCleaning\WELLCOME_APCspend2013_forThinkful222.csv")

#change Column heading to upper case
df.columns = [x.upper() for x in df.columns]

#Rename the column heading to short and steady
df = df.rename(columns={'PMID/PMCID': 'PID', 'JOURNAL TITLE': 'JOURNAL','ARTICLE TITLE': 'ARTICLE', 'COST (£) CHARGED TO WELLCOME (INC VAT WHEN CHARGED)': 'COST'})

#Change JOURNAL and PUBLISHER data to first letter capital and upper case
df['JOURNAL']= df['JOURNAL'].str.title()
df['PUBLISHER']= df['PUBLISHER'].str.title()

#Strip the leading and tailing spaces
df['JOURNAL'] = df['JOURNAL'].str.strip()
df['PUBLISHER'] = df['PUBLISHER'].str.strip()

#Replace & sign with 'And' text
df['JOURNAL']=df.JOURNAL.replace({"&":'And'},regex=True)
df['PUBLISHER']=df.PUBLISHER.replace({"&":'And'},regex=True)


#Drop NaN values from non-numeric columns
df=df.dropna(subset=['PID','PUBLISHER', 'JOURNAL', 'ARTICLE','COST'])


df.head()

,PID,PUBLISHER,JOURNAL,ARTICLE,COST
1,PMC3679557,Acs,Biomacromolecules,Structural characterization of a Model Gram-negative bacterial surface using lipopolysaccharides...,£2381.04
2,23043264 PMC3506128,Acs,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related opioids with irreversible ? opioid receptor antago...",£642.56
3,23438330 PMC3646402,Acs,J Med Chem,Orvinols with mixed kappa/mu opioid receptor agonist activity.,£669.64
4,23438216 PMC3601604,Acs,J Org Chem,Regioselective opening of myo-inositol orthoesters: mechanism and synthetic utility.,£685.88
5,PMC3579457,Acs,Journal Of Medicinal Chemistry,Comparative Structural and Functional Studies of 4-(Thiazol-5-yl)-2-(phenylamino) pyrimidine-5-c...,£2392.20

In [4]:

df.loc[df['JOURNAL'].str.contains("Plos"),'JOURNAL']="Plos"

In [5]:
#five most common journals and the total articles for each
df1 = df['JOURNAL'].value_counts().reset_index()
df1.columns = ['JOURNAL', 'count']
df1.head()

                                           JOURNAL  count
0                                             Plos    247
1                  Journal Of Biological Chemistry     48
2                           Nucleic Acids Research     21
3  Proceedings Of The National Academy Of Sciences     20
4                         Human Molecular Genetics     15

In [6]:
df['COST'] = df.loc[df['COST'].astype(str).str.contains('$'),'COST'].replace('$','')
df['COST'] = df.loc[df['COST'].str.contains("£"),'COST'].str.replace('£','').astype(float)

In [12]:
df.COST.head()

1    2381.04
2     642.56
3     669.64
4     685.88
5    2392.20
Name: COST, dtype: float64

In [8]:
#Removing Anomalies which is greater than 50000. Usual data not exceeding 10000
df=df[(df['COST'] < 50000)]

In [13]:
#calculate meadian cost per article for each journal
df.groupby('JOURNAL')['COST'].median().sort_values(ascending=False).head()

JOURNAL
Public Service Review    6000.00
The Lancet Neurology     5760.00
The Lancet               4320.00
Curr Biol.               4151.77
Cell Journal             4041.05
Name: COST, dtype: float64

In [14]:
##calculate mean cost per article for each journal
df.groupby('JOURNAL')['COST'].mean().sort_values(ascending=False).head()

JOURNAL
Public Service Review    6000.00
The Lancet Neurology     5760.00
The Lancet               4320.00
Curr Biol.               4151.77
Cell Journal             4041.05
Name: COST, dtype: float64

In [15]:
##calculate standard deviation cost per article for each journal
df.groupby('JOURNAL')['COST'].std().sort_values(ascending=False).head()

JOURNAL
Gastroenterology    1407.085926
Public Health       1369.828470
Neuron              1357.518642
Cell                1271.396468
Bmj                 1172.228647
Name: COST, dtype: float64

- End Of Task -